<a href="https://colab.research.google.com/github/gutpdn/PythonForML/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics (1)

## Data Types

### Basic Data Types
* Number (Integer and Float)
* String
* Boolean

###Collection Data Types
* List
* Dictionary
* Set
* Tuple

Credit: [w3schools](https://www.w3schools.com/python/default.asp)

##Integer

In [ ]:
x1 = 1
x2 = 1.0
y = 2.3

print(type(x1))
print(type(x2))
print(type(y))

<class 'int'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
z = 3e3
z2 = 3e-1

print(z2)

print(z)
print(type(z))

0.3
3000.0
<class 'float'>

###Python Arithmetic Operators

Operator | Name 
---|---
+|Addition
-|Subtraction
*|Multiplication
/|Division
%|Modulus
**|Exponentiation
//|Floor division

In [ ]:
x = 5
y = 2

In [ ]:
x + y

7

In [ ]:
x / y

2.5

In [ ]:
x % y

1

In [ ]:
x ** y

25

In [ ]:
x // y

2

##String
Strings in python are surrounded by either single quotation marks, or double quotation marks.

The String type in Python is called "str"

In [ ]:
s1 = "I love Python"

print(type(s1))
print(s1)

s2 = 'Hello world!'

print(type(s2))

<class 'str'>
I love Python
<class 'str'>

###Strings are Arrays
**Important!!!** The first item in the sequence is number 0.

In [ ]:
print(s1[3])
print(s1[7])

o
P

In [ ]:
s1 = "I love Python"
s1[3:6]
s1[2:6]

'love'

In [ ]:
s1[-1]

'n'

In [ ]:
s1[-7:-3]

' Pyt'

In [ ]:
s2 = 'Hello world!'
s2[4:-1]

'o world'

In [ ]:
s2[:4]

'Hell'

In [ ]:
s2[:]

'Hello world!'

In [ ]:
# String length
len(s2)

12

In [ ]:
# Check String
'world' in s2

True

In [ ]:
# Concatenate Strings
'Python' + ' ' + 'is cool!'

'Python is cool!'

In [ ]:
1 + 1.3

2.3

**Exercise**

Slicing String

In [ ]:
# Given the string:
s = 'django'

# ใช้ indexing เพื่อ print out ให้ได้ผลดังต่อไปนี้:
# 'd'

'd'

In [ ]:
# 'jan'

'jan'

In [ ]:
# 'go'

'go'

###String Format
We can combine strings and numbers by using the format() method.

In [ ]:
name = 'Bundit'
surname = 'Thanasopon'
s3 = 'My name is {} {}'
s3.format(name, surname)

'My name is Bundit Thanasopon'

In [ ]:
name = 'Bundit'
nickname = 'Jack'
s3 = 'My name is {} and my nickname is {}, and I am {}'
s3.format(name, 'Jack', 36)

'My name is {} and my nickname is {}, and I am {}'.format(name, 'Jack', 36)

'My name is Bundit and my nickname is Jack, and I am 36'

**Exercise**

String Formatting

In [ ]:
language = 'Python'
difficulty = 'easy'

# Print out 'Python is very easy. I love Python!' using str.format()

##Boolean

Booleans represent one of two values: **True** or **False**.

###Python Comparison Operators
Operator|Name
---|---
==|Equal
!=|Not equal
>|Greater than
<|Less than
>=|Greater than or equal to
<=|Less than or equal to

###Python Logical Operators
Operator|Name
---|---
and|Returns True if both statements are true
or|Returns True if one of the statements is true
not|Reverse the result, returns False if the result is true

In [ ]:
x = 10
y = 6

print('x == y: {}'.format(x == y))
print('x > y: {}'.format(x > y))
print('x < y: {}'.format(x < y))

x == y: False
x > y: True
x < y: False

In [ ]:
z = 'Hello'
print((x > y) and (z == 'Hello'))
print(not ((x < y) and (z == 'Hello')))
print((x > y) or (z == 'Hey'))

True
True
True

In [ ]:
if z == '':
  print('Empty')
else:
  print('Yes')

Yes

In [ ]:
z = ''
if z:
  print('Yes')
else:
  print('Empty')

Empty

True

In [ ]:
x = 1

bool(x)

###Truthy and Falsy Values in Python
In Python, individual values can evaluate to either True or False.
* Values that evaluate to **False** are considered *Falsy*.
* Values that evaluate to **True** are considered *Truthy*.

###Falsy Values

**Sequences and Collections:**
* Empty lists: []
* Empty tuples: ()
* Empty dictionaries: {}
* Empty sets: set()
* Empty strings: ""
* Empty ranges: range(0)

**Numbers**
* Zero of any numeric type.
* Integer: 0
* Float: 0.0

**Constants**
* None
* False


###Truthy Values
* Non-empty sequences or collections (lists, tuples, strings, dictionaries, sets).
* Numeric values that are not zero.
* True

In [ ]:
a = 0
if a:
  print('True')
else:
  print('False')

False

In [ ]:
a = 1
if a:
  print('True')
else:
  print('False')

True

In [ ]:
a = ""
if a:
  print('True')
else:
  print('False')

False

In [ ]:
a = "Not empty"
if a:
  print('True')
else:
  print('False')

True

##If...Else
###Python Conditions and If statements
Python supports the usual logical conditions from mathematics:
* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

In [ ]:
# If statement

a = 33
b = 200
if b > a and (b - a) > 100:
  print("b is much greater than a")
else:
  print('Else')

# Elif statement
a = 34
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print('A is more than B')

# Else statement
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is much greater than a
A is more than B
a is greater than b

##Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [ ]:
mylist = ["apple", "banana", "orange", True, 10, [1, 2, 3]]

print(mylist[0])
print(mylist[1])
print(mylist[-1])

apple
banana
[1, 2, 3]

**Exercise**

Accessing nested list

In [ ]:
ls = [3,7,[1,4,'hello']]

# จงแก้ค่า hello เป็น goodbye
# Your code here

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

# print ค่า hello ออกมาแสดง
# Your code here

###Modifying Lists

In [ ]:
mylist = ["apple", "banana", "orange"]
print(mylist)

# Changing list items
mylist[2] = "watermalon"
print(mylist)
print()
newlist = mylist[1:3]
print(newlist)
print(mylist)
print()
mylist[1:3] = ["strawberry", "pineapple"]
print(mylist)

['apple', 'banana', 'orange']
['apple', 'banana', 'watermalon']

['banana', 'watermalon']
['apple', 'banana', 'watermalon']

['apple', 'strawberry', 'pineapple']

In [ ]:
mylist = ["apple", "banana", "orange"]
# Adding new items
mylist.insert(1, "kiwi")
print(mylist)
mylist.append("Durian")
print(mylist)

['apple', 'kiwi', 'banana', 'orange']
['apple', 'kiwi', 'banana', 'orange', 'Durian']

In [ ]:
# Concatenate lists
mylist1 = [1, 2, 3]
mylist2 = [4, 5, 6]
print(mylist1 + mylist2)

[1, 2, 3, 4, 5, 6]

In [ ]:
mylist = ['apple', 'kiwi', 'strawberry', 'pineapple', 'Durian']
# Removing items
mylist.remove('kiwi')
print(mylist)
# The pop() method removes the specified index.
mylist.pop(1)
print(mylist)
# If you do not specify the index, the pop() method removes the last item.
mylist.pop()
print(mylist)

['apple', 'strawberry', 'pineapple', 'Durian']
['apple', 'pineapple', 'Durian']
['apple', 'pineapple']

###Looping Lists

In [ ]:
mylist = ['apple', 'kiwi', 'strawberry', 'pineapple', 'Durian']

index = 1
for fruit in mylist:
  print('{}. {}'.format(index, fruit))
  index += 1

1. apple
2. kiwi
3. strawberry
4. pineapple
5. Durian

In [ ]:
mylist = ['apple', 'kiwi', 'strawberry', 'pineapple', 'Durian']

i = 0
while i < 3:
  print(mylist[i])
  i = i + 1

apple
kiwi
strawberry

###List Comprehension

In [ ]:
mylist = [2,5,6,7,4]

index = 0
for num in mylist:
  mylist[index] = num * 2
  index += 1

print(mylist)

mylist = [2,5,6,7,4]
newlist = []
for num in mylist:
  newlist.append(num * 2)

print(newlist)
print('--List Complehension--')
newlist = [(num * 2) + 3 for num in mylist]
print(newlist)

[4, 10, 12, 14, 8]
[4, 10, 12, 14, 8]
--List Complehension--
[7, 13, 15, 17, 11]

**Exercise**

สร้าง list ใหม่ที่มีสมาชิกเป็นขนาดของ String แต่ละตัวใน list "mylist"

In [ ]:
mylist = ['apple', 'kiwi', 'strawberry', 'pineapple', 'Durian']

# Put your code here
lenlist = []

print(lenlist)
# [5, 4, 10, 9, 6]

[]

##Tuples

Lists are used to store multiple items in a single variable.

A tuple is a collection which is **ordered** and **unchangeable**.


*   **ordered** - When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
*   **unchangeable** - Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [ ]:
mytuple = ('apple', 'kiwi', 'strawberry', 'pineapple', 'Durian')

print(mytuple)

print(mytuple[0])

print(mytuple[1:3])

('apple', 'kiwi', 'strawberry', 'pineapple', 'Durian')
apple
('kiwi', 'strawberry')

###Unchangeable
You cannot **change, add, or remove** items once the tuple is created.

In [ ]:
mylist = list(mytuple)
mylist[0] = "orange"
print(mylist)
# mytuple[0] = "orange"

['orange', 'kiwi', 'strawberry', 'pineapple', 'Durian']

##Sets
A set is a collection which is both **unordered**, **unchangeable**, and **do not allow duplicate** values.

Sets are written with curly brackets.


*Note: Sets are unordered, so you cannot be sure in which order the items will appear.*

In [ ]:
myset = {"apple", "apple", "cherry", "pineapple"}

# You cannot access items in a set by referring to an index or a key.
# But you can loop through the set items using a "for loop".

for x in myset:
  print(x)

print(myset)

apple
pineapple
cherry
{'apple', 'pineapple', 'cherry'}

In [ ]:
# Or ask if a specified value is present in a set, by using the "in" keyword.

print("apple" in myset)

print("orange" in myset)

True
False

###Unchangeable

Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
myset = {"apple", "banana", "cherry", "pineapple"}

# Adding new item to sets
myset.add("orange")

print(myset)

# To add items from another set into the current set, use the update() method.
myset.update({"kiwi", "coconut"})

print(myset)

myset.update(["strawberry", "blueberry"])

print(myset)

# Add items that already exist in the set
myset.add("kiwi")

print(myset)

#removing item from set
myset.remove("kiwi")

print(myset)

{'orange', 'cherry', 'pineapple', 'apple', 'banana'}
{'orange', 'coconut', 'cherry', 'pineapple', 'apple', 'kiwi', 'banana'}
{'orange', 'coconut', 'cherry', 'strawberry', 'pineapple', 'apple', 'kiwi', 'banana', 'blueberry'}
{'orange', 'coconut', 'cherry', 'strawberry', 'pineapple', 'apple', 'kiwi', 'banana', 'blueberry'}
{'orange', 'coconut', 'cherry', 'strawberry', 'pineapple', 'apple', 'banana', 'blueberry'}

##Joining Two Sets
There are several ways to join two or more sets in Python.

You can use the **union()** method that returns a new set containing all items from both sets, or the **update()** method that inserts all the items from one set into another.

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, "a"}

set3 = set1.union(set2)
print(set3)

set4 = set1.intersection(set2)
print(set4)

{1, 'c', 2, 3, 'a', 'b'}
{'a'}

##Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is **ordered, changeable and does not allow duplicates**.

In [ ]:
mydict = {
  "name": {"firstname": "Bundit", "lastname": "Thanasopon"},
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}
print(mydict["name"])

print(mydict["name"]["firstname"])

print(mydict["fav_color"][0])

{'firstname': 'Bundit', 'lastname': 'Thanasopon'}
Bundit
red

In [ ]:
# Get the list of keys
print(mydict.keys())
print('-------------------')
print('Keys:')
for key in mydict.keys():
  print(key)
print('-------------------')
print(mydict.values())
print('Values:')
for value in mydict.values():
  print(value)

dict_keys(['name', 'nickname', 'fav_color', 'age'])
-------------------
Keys:
name
nickname
fav_color
age
-------------------
dict_values([{'firstname': 'Bundit', 'lastname': 'Thanasopon'}, 'Jack', ['red', 'blue', 'yellow'], 35])
Values:
{'firstname': 'Bundit', 'lastname': 'Thanasopon'}
Jack
['red', 'blue', 'yellow']
35

In [ ]:
# Dictionaries cannot have two items with the same key
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35,
  "age": 30
}

print(mydict)

{'age': 30,
 'fav_color': ['red', 'blue', 'yellow'],
 'firstname': 'Bundit',
 'lastname': 'Thanasopon',
 'nickname': 'Jack'}

In [ ]:
# Change Values
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}

mydict["nickname"] = "J"

print(mydict)

{'age': 35,
 'fav_color': ['red', 'blue', 'yellow'],
 'firstname': 'Bundit',
 'lastname': 'Thanasopon',
 'nickname': 'J'}

In [ ]:
# Add a key-value pair
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}

mydict["nationality"] = "Thai"

print(mydict)

{'age': 35,
 'fav_color': ['red', 'blue', 'yellow'],
 'firstname': 'Bundit',
 'lastname': 'Thanasopon',
 'nationality': 'Thai',
 'nickname': 'Jack'}

In [ ]:
# Remove a key-value pair
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}

a = mydict.pop('age')
b = mydict.pop('fav_color')

print(mydict)

print(a)
print(b)

{'firstname': 'Bundit', 'lastname': 'Thanasopon', 'nickname': 'Jack'}
35
['red', 'blue', 'yellow']

###Loop Through a Dictionary
You can loop through a dictionary by using a for loop.

In [ ]:
mydict = {
  "firstname": "Bundit",
  "lastname": "Thanasopon",
  "nickname": "Jack",
  "fav_color": ["red", "blue", "yellow"],
  "age": 35
}

print(mydict.items())

a, b, c = ('First', 'Second', 'Third')
print(a)
print(b)
print(c)
print('--------')

for x, y in mydict.items():
  print(x, '->', y)

dict_items([('firstname', 'Bundit'), ('lastname', 'Thanasopon'), ('nickname', 'Jack'), ('fav_color', ['red', 'blue', 'yellow']), ('age', 35)])
First
Second
Third
--------
firstname -> Bundit
lastname -> Thanasopon
nickname -> Jack
fav_color -> ['red', 'blue', 'yellow']
age -> 35

**Exercises**

จง print ค่า 'hello' ออกมาจาก dictionary ด้านล่าง:

In [ ]:
d1 = {'simple_key':'hello'}

d2 = {'k1':{'k2':'hello'}}

d3 = {'k1':[{'nest_key':['this is deep',['hello']]}]}

d4 = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

# Your code here.

## Looping through range()

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
mylist = ['apple', 'orange', 'banana']

for i in range(len(mylist)):
  print(mylist[i])

apple
orange
banana